{% comment %}
Copyright 2025 Benjamin Le Rohellec
SPDX-License-Identifier: Apache-2.0
{% endcomment %}
<div class="layout" style="flex-wrap: wrap; align-content: center">
{% for id in (0..N) %}
    {% if IDX_0 %}
    {% render "tile" with IDX_0 as entity %}
    {% endif %}
    {% if IDX_1 %}
    {% render "tile" with IDX_1 as entity %}
    {% endif %}
    {% if IDX_2 %}
    {% render "tile" with IDX_2 as entity %}
    {% endif %}
{% endfor %}
</div>
{% render "bar", trmnl: trmnl %}
