{% comment %}
Copyright 2025 Benjamin Le Rohellec
SPDX-License-Identifier: Apache-2.0
{% endcomment %}
<div class="layout gap" style="flex-wrap: wrap; align-content: center">
{% for id in (0..N) %}
    {% if IDX_0 %}
    {% render "tile" with IDX_0 as entity %}
    {% endif %}
    {% if IDX_1 %}
    {% render "tile" with IDX_1 as entity %}
    {% endif %}
    {% if IDX_2 %}
    {% render "tile" with IDX_2 as entity %}
    {% endif %}
    {% if IDX_3 %}
    {% render "tile" with IDX_3 as entity %}
    {% endif %}
    {% if IDX_4 %}
    {% render "tile" with IDX_4 as entity %}
    {% endif %}
    {% if IDX_5 %}
    {% render "tile" with IDX_5 as entity %}
    {% endif %}
    {% if IDX_6 %}
    {% render "tile" with IDX_6 as entity %}
    {% endif %}
    {% if IDX_7 %}
    {% render "tile" with IDX_7 as entity %}
    {% endif %}
    {% if IDX_8 %}
    {% render "tile" with IDX_8 as entity %}
    {% endif %}
    {% if IDX_9 %}
    {% render "tile" with IDX_9 as entity %}
    {% endif %}
    {% if IDX_10 %}
    {% render "tile" with IDX_10 as entity %}
    {% endif %}
    {% if IDX_11 %}
    {% render "tile" with IDX_11 as entity %}
    {% endif %}
    {% if IDX_12 %}
    {% render "tile" with IDX_12 as entity %}
    {% endif %}
    {% if IDX_13 %}
    {% render "tile" with IDX_13 as entity %}
    {% endif %}
    {% if IDX_14 %}
    {% render "tile" with IDX_14 as entity %}
    {% endif %}
    {% if IDX_15 %}
    {% render "tile" with IDX_15 as entity %}
    {% endif %}
{% endfor %}
</div>
{% render "bar", trmnl: trmnl %}
